/* main div of the index page. */
.wrapper{
    height: 100%;
    background-color: #001628;
    width: 82%;
    overflow-x: auto;
    margin: 40px auto;
    border-radius: 5px;
    box-shadow: 0 0 50px rgb(14, 13, 13);
    display: block;
}

/* the left side of the index page. */
.brand{
    /* height:100%; */
    width: 50%;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    /* margin-top: 4%; */
    background-color: #001628;
    background: rgb(0, 0, 0, .5)
}
.messag{
    /* background: rgb(0, 0, 0, .2); */
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: #001628;
    padding: 5px;
}
.messag p {
    text-align: center;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    mix-blend-mode: lighten;
}

/* right side of the index page with the login form. */
.sign{
    height: 100%;
    width: 50%;
    /* margin: 20px; */
    float: right;
    border-radius: 5px;
    background: #001620;
}
/* all titles. */
h2, h3 {
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: 30px;
    text-shadow:
        2px 2px 0 #000,
        -1px -1px 0 #000;
}

/* paragraph on the index page. */
p{
    text-align: center;
    color: white;
    padding: 8px;
    font-family: cursive;
    font-size: 20px;
}
form{
    margin: auto;
}

#myform{
    text-align: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
}

.input-form input[type="email"],
.input-form input[type="password"]{
    margin: 4px 2px;
    padding: 8px 5px;
    border: 1px solid #ff652f;
    /* border-bottom: 1px solid red; */
    outline: 2px;
    font-size: 20px;
    height: 40%;
    width: 55%;
    border-radius: 17px;
    text-align: center;
    transition: 0.4s ease-in-out;
    box-sizing: border-box;
    background-color: rgb(241, 250, 252);
}
.input-form input[type="password"]:hover{
    width: 65%;
}
.input-form input[type="email"]:hover{
    width: 65%;
}

.input-form input[type="submit"]{
    background: #ff652f;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    width: 55%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 0, 15);
}
.input-form input[type="submit"]:hover{
    background-color: #47cf73;
    color: white;
}
/* links */
a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    /* margin: 29px 0px 25px; */
    color: white;
}
/* change link text color */ 
a:hover{
    color: #ff652f;
}
