



.container{
    margin: 3% 5%;
    /* margin-top: 30px; */
    padding: 0;
    width: 90%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 0 100px rgb(12, 12, 12);
    /* background-color: #47cf73; */
    display: inline-flex;
}
.messag{
    background: rgb(0, 0, 0, .5);
    margin: 0%;
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-right: 20px;
    
}
.brand{
    float: left;
    width: 50%;
    background-image: url(../img/images.jpg);
    background-size: cover;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    overflow: hidden;
}
.brand h3{
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: 30px;
}
p{
    text-align: center;
    color: white;
    /* padding: 8px; */
    font-family: cursive;
    font-size: 20px;
}
.messag p{
    text-align: center;
    color: white;
    /* padding: 8px; */
    font-family: sans-serif;
    font-size: 25px;
}
.messag a{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}
/* change link text color */ 
a:hover{
    color: #ff652f;
}


.sign{
    float: right;
    width: 50%;
}

.logo{
    /* display: table-row; */
    margin-top: 0%;
    padding: 0 0 20px;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ff652f;
    border-top-right-radius: 26px;
}
/* login form */
.input{
    background-color: #001620;
    margin-top: 1px;
    padding: 25px;
    height: 280px;
    padding-bottom: 20px;
    vertical-align: middle;
    border-bottom-right-radius: 25px;
}

/* register form */
.registerForm{
    background-color: #001620;
    margin-top: 0px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 80px;
    height: 390px;
    vertical-align: middle;
    border-bottom-right-radius: 25px;
}

#myform{
    text-align: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-form input[type="text"],
.input-form input[type="tel"],
.input-form input[type="email"],
.input-form input[type="password"]{
    margin: 4px 2px;
    padding: 8px 5px;
    border: none;
    border-bottom: 1px solid #ff652f;
    outline: 2px;
    font-size: 20px;
    height: 40%;
    width: 65%;
    border-radius: 13px;
    text-align: center;
    transition: 0.4s ease-in-out;
    box-sizing: border-box;
    background-color: rgb(241, 250, 252);
}
.input-form input[type="password"]:hover{
    width: 85%;
}
.input-form input[type="email"]:hover{
    width: 85%;
}
.input-form input[type="text"]:hover{
    width: 85%;
}
.input-form input[type="tel"]:hover{
    width: 85%;
}
.input-form input[type="submit"]{
    background: #ff652f;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    width: 65%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.input-form input[type="submit"]:hover{
    background-color: #47cf73;
    color: rgb(3, 0, 15);
}
/* links */
.input-form a{
    color: blue;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 29px 0px 25px;
}
/* change text color */ 
.input-form a:hover{
    color: white;
}
/* footer */
.footer{
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}