html,body{
    margin: 0px;
    padding: 0px;
}
/* links */
a{
    text-decoration: none;
}
/* Change the background color */
@media screen and(min-width:700px){
    body{
        background-color: #ff652f;
    }
    table{
        width: 100%;
    }
    /* navbar container */
    .navbar{
        background-color: #ff652f;
    }
    /* navbar links */
    .nav a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}
/* .cont_ain{
    height: 100%;
    width: 100%;
    overflow-x: auto;
    margin:0px;
    padding: 0px;
    border-radius: 30px;
    background-color:black;
    display: grid;
} */
/* ireporter would be logo*/
.brand{
    /* padding: 0px; */
    background-color: #ff652f;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 20%;
    display: grid;
}
/* navigation bar with links */

.navbar{
    background-color: grey;
    height: 6vh;
    margin: auto;
    text-align: center;
    /* widows: 100%; */
    /* display: grid; */
}

.navbar ul li{
    margin-top: 10vh;
}
.overall{
    background-color: #e2f8f1;
    height: 68vh;
    width: 90vw;
    margin: 0px auto;
    border-radius: 0px 0px 20px 20px;
    /* display: block; */
    /* padding: 5px; */
    /* margin-top: 55px; */
    text-align: center;
    color:black;
    overflow: auto;
    box-shadow: 0 0 50px #111111;
}
.nav{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid white; */
}
.nav_item{
    display: inline;
}
li a{
    display: inline;
    padding: 0px 5px 10px 15px;
    text-align: center;
    border-radius: 4px;
    color: white;
}
li a:hover{
    background-color: #ff652f;
    color: white;
}

    /* overflow-x: auto; */

.col{
    background-color: #ff652f;
    color: antiquewhite;
}
/* button */
button{
    border-radius: 5px 5px 6px 5px;
    color: black;
    background-color: azure;
}
button:hover{
    color: white;
    background-color: #ff652f;
}
select {
    width: 29%;
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    background-color: #f1f1f1;
}
textarea{
    border-radius: 20px;
    padding: 5px;
    width: 29%;
}
input[type="file"]{
    width: 29%;
}
textarea:hover{
    width: 35%;
}
/* page footer */
.footer{
    /* height: 0.5%; */
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
@margin: 15px;
@text-width: 160px;
@num-width: 160px;

/*
 * Basic styles, good for a large display. Everything fits in
 * one row, no wrapping. All text based cells grow equally.
 */

.table-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
  width: 95%;
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-grow: 0;
  -webkit-flex-grow: 0;
}
.text-4,
.text-2,
.text {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
.num-4,
.num-2,
.num {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}
.num {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}
.text {
  width: 50%;
}
.num {
  width: 50%;
}
/*
 * Media queries: optimize for different screen widths.
 */
@media all and (max-width: 1100px) {
  .text-4,
  .num-4 {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .text-4 div,
  .num-4 div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
    width: 100%;
  }
  .text-4 {
    width: 100%;
  }
  .num-4 {
    width: 100%;
  }
    .num {
    text-align: right;
  }

}
@media all and (max-width: 580px) {
  .text-4,
  .num-4 {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .text-4 div,
  .num-4 div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
    width: 100%;
  }
  .text-4 {
    width: 100%;
  }
  .num-4 {
    width: 100%;
  }
    .num {
    text-align: right;
  }

}
@media all and (max-width: 320px) {
  .table-row {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .table-row div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
    width: 100%;
  }
  .num {
    text-align: left;
  }
}

/*
 * General good-look styles, not mandatory.
 */
body {
  font-size: 18px;
}

.table-row {
  border-bottom: 2px solid #000;
  border-collapse: collapse;
  padding-top: 5px;
}

.table-row.header {
  background-color: #ff652f;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* Some borders to show the behaviour. Uncomment to see it in action */

.text-2, .num-2 {
  border: 1px solid #ff652f;
  padding: 2px;
  margin: 2px;
}

.text-4, .num-4 {
  border: 1px #ddd;
  margin: 2px;
}
