html,body{
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 18px;
  }
/* links */
a{
    text-decoration: none;
    color: green;
}
/* Change the background color */
@media screen and(min-width:700px){
    body{
        background-color: #ff652f;
    }
    table{
        width: 100%;
    }
    /* navbar container */
    .navbar{
        background-color: #ff652f;
    }
    /* navbar links */
    .nav a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}
/* .cont_ain{
    height: 100%;
    width: 100%;
    overflow-x: auto;
    margin:0px;
    padding: 0px;
    border-radius: 30px;
    background-color:black;
    display: grid;
} */
/* ireporter would be logo*/
.brand{
    /* padding: 0px; */
    background-color: #ff652f;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 20%;
    display: grid;
}
/* navigation bar with links */

.navbar{
    background-color: #47cf73;
    height: 6vh;
    margin: auto;
    text-align: center;
}

.navbar ul li{
    margin-top: 10vh;
}
.overall{
    background-color: #e2f8f1;
    height: 70vh;
    width: 93vw;
    margin: 0px auto;
    border-radius: 0px 0px 20px 20px;
    display: block;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* padding: 5px; */
    /* margin-top: 55px; */
    text-align: center;
    color:black;
    overflow: auto;
    box-shadow: 0 0 50px #111111;
}
.nav{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    padding-left: 5%;
    /* border: 1px solid white; */
}
.nav_item{
    display: inline;
}
li a{
    display: inline;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    color: white;
}
li a:hover{
    background-color: #ff652f;
    color: black;
}

    /* overflow-x: auto; */

.col{
    background-color: #ff652f;
    color: antiquewhite;
}
/* button */
button{
    border-radius: 5px 5px 6px 5px;
    color: white;
    font: 1em sans-serif;
    width: 25%;
    height: 30px;
    background-color: #ff652f;
}
button:hover{
    color: white;
    background-color: #47cf73;
}
.select_create{
    width: 29%;
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    border: 1px solid #47cf73;
    background-color: #f1f1f1;
}
select{
  color: #000;
  background-color: #f1f1f1;
  border-radius: 1px;
  border: 1px solid #47cf73;
}
select:focus{
  color: white;
  background-color: green;
  border-radius: 1px;
}
input[type="text"], textarea{
    border-radius: 20px;
    padding: 5px;
    width: 29%;
    font: 1em sans-serif;
    box-sizing: border-box;
    color: #000;
    resize: none;
    border: 1px solid #47cf73;
}
input[type="file"]{
    width: 29%;
}
textarea:hover{
    width: 35%;
}

.table-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
  width: 95%;
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-grow: 0;
  -webkit-flex-grow: 0;
}
.dere_k,
.seco_nd,
.text {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
.b4_next,
.my_next,
.exa_ct {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}
.exa_ct {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}
.text {
  width: 120px;
}
.exa_ct {
  width: 120px;
  text-align: left;
}
/* Media queries have to optimize for different screen widths. */

@media all and (max-width: 1100px) {
  .dere_k,
  .b4_next {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .dere_k div,
  .b4_next div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
    width: 100%;
  }
  .dere_k {
    width: 100%;
  }
  .b4_next {
    width: 100%;
  }
    .exa_ct {
    text-align: right;
  }

}
@media all and (max-width: 580px) {
  .dere_k,
  .b4_next {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .dere_k div,
  .b4_next div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
    width: 100%;
  }
  .dere_k {
    width: 100%;
  }
  .b4_next {
    width: 100%;
  }
    .exa_ct {
    text-align: right;
  }

}
@media all and (max-width: 320px) {
  .table-row {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .table-row div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
    width: 100%;
  }
  .exa_ct {
    text-align: left;
  }
}

/*Have border lines around the attributes.*/

.table-row {
  border-bottom: 2px solid #000;
  border-collapse: collapse;
  padding-top: 5px;
}

.table-row.header {
  background-color: #ff652f;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* borders to make stuff pop. */

.seco_nd, .my_next {
  border: 1px solid #ff652f;
  padding: 2px;
  margin: 2px;
}

.dere_k, .b4_next {
  border: 1px #47cf73;
  margin: 2px;
}
/* incident page */
/* .top_one{
  width: 50%;
  height: 50%;
  float: left;
  /* overflow: auto; */
  /* background-color: aqua; */
/* }
.top_two{
  width: 50%;
  height: 50%;
  float: right;
  display: flex; */ */

  
  /* padding: 5px; */
  /* background-color: lawngreen; */
/* } */
.top_two p{
  padding: 5px;
}
.bottom_one{
  /* width: 100%; */
  height: 50%;
  /* background-color: aqua; */
}
.one_of_one{
  /* display: flex; */
  flex: 2;
  background-color: #47cf73;
  /* padding: 35px; */
}

.one_of_two{
  /* display: flex; */
  /* flex: 2; */
  background-color: #ff652f;
  /* padding: 10px; */
}
.media_box{
  /* display: -ms-flexibox; */
  /* display: block; */
  /* -ms-flex-wrap: wrap; */
  padding: 0 5px;
}

.media_item{
/* display: block; */
padding: 0 0px;
max-width: 35%;
}

.media_item img{
  vertical-align: middle;
  margin-top: 6px;
}
img{
  height: 150px;
  width: 150px;
  border: 1px solid white;
  margin-left: 100px;
  margin-bottom: 10px;
  margin-top: 0px;
  float: left;
}
@media screen and (max-width: 800px){
  .media_item{
    max-width: 50%;
    -ms-flex: 50%;
    flex: 50%;
    margin-top: 100px;
    overflow: auto;
  }
  img{
    margin-left: 50px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 600px){
  .media_item{
    max-width: 100%;
    -ms-flex: 100%;
    flex: 100%;
    margin-top: 100px;
    overflow: auto;
    font-size: 12px;
  }
}

/* page footer */
.footer{
    /* height: 0.5%; */
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}